.slide-wrapper { height: 100vh; position: relative; }

.timer-wrap { height: 12px; overflow: hidden; }
.timer-wrap .timer { background: var(--blue); height: 100%; animation-name: play-timer; animation-timing-function: linear; animation-fill-mode: both; transform: translateX(-100%); animation-duration: 1s; }

@keyframes play-timer {
    to { transform: translateX(0); }
}

.slide-main-content { display: flex; height: 100%; }
.product-main-photos { display: flex; align-items: center; margin-left: 150px; }
.product-main-photos img {filter: drop-shadow(7px 7px 5px rgb(0 0 0 / 20%)); }
.product-main-photos .main-photo { transform: rotate(5deg); }
.product-main-photos .secondary-photo { transform: rotate(-5deg); }

.product-text-content { padding-left: 150px; padding-top: 100px; }
.product-text-content .breadcrumbs { margin-bottom: 75px; }
.product-text-content .breadcrumbs h3 { color: var(--blue); font-size: 2.75rem; margin-bottom: 0; line-height: 1.2; font-weight: 400; }
.product-text-content .breadcrumbs h4 { color: var(--grey); font-size: 1.75rem; margin-bottom: 0; line-height: 1.2; font-weight: 400; }

.product-text-content .product-title { margin-bottom: 50px; }
.product-text-content .product-title h2 { font-size: 5.5rem; line-height: 1.2; margin-bottom: 0; }
.product-text-content .product-title [role="doc-subtitle"] { font-size: 2.5rem; line-height: 1.2; margin-bottom: 0; color: var(--grey); }

.product-text-content .product-price {  }
.product-text-content .product-price h2 { color: var(--blue); font-size: 5rem; margin-bottom: 0; line-height: 1.2; }
.product-text-content .product-price h3.bonnen { color: var(--blue); font-size: 2rem; margin-bottom: 0; line-height: 1.2; font-weight: 400; }

.bottom-bar { height: 250px; width: 100%; position: absolute; background: var(--blue); bottom: 0; padding: 50px; display: flex; justify-content: flex-end; align-items: center; z-index: -1; }